[Desktop Entry]
Type=Application
Name=Talus Tally
Comment=Project Management Application
Exec=/usr/bin/talus-tally
Icon=talus-tally
Categories=Utility;
StartupWMClass=talus-tally
Terminal=false
